*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
  body{
    font-family: montserrat;
}
  nav{
    background: #8AC4FF;
    height: 80px;
    width: 100%;
}
  nav ul{
    float: right;
    margin-right: 20px;
}
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
  nav ul li a{
    color: #000000;
    font-weight: bold;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 20px;
    text-transform: uppercase;
}
  a:hover {
    color: #007FFF; 
}
  a.active {
    background: #F8F9FB;
    transition: .5s;
    color: #03045E;
}
  .home-message {
    color: #05539A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
  .register_btn {
    background-color: #66B2FF;
    padding: 7px 13px;
    color: #000000;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5%;
    margin-right: 5%;
}
  .home-left {
    padding: 35px;
}
  .toggle_btn {
    color: #001933;
}
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  #check{
    display: none;
}
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
}
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #0066CC;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #F8F9FB;
    }
    #check:checked ~ ul{
      left: 0;
    }
}
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
.image-container img {
    height: 250%;
    width: 100%;
    object-fit: cover;
}
.image-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.image-wave {
    position: fixed;
    bottom: 0;
}

.container-1 {
    margin-top: 6rem; 
    height: 710px;
    background-image: url(images/wave.png);
    background-repeat: no-repeat;
    background-size: 100% 220px;
    background-position: bottom;
}

.container-2 {
    background-color: #8EBDEC;
    padding: 15px 9%;
    padding-bottom: 100px;
    height: 200vh;
}

.container-3{
    color: aqua;
}

/* Utilities */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.debug {
    border: 1px solid red;
}

.text-center {
    text-align: center;
}